* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none !important;
}
button {
  outline: none;
  border: 0;
}
header {
  width: 100% !important;

  .navigation-Bar {
    display: none;
  }
  .Contact_Header {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0px 78.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .Contact_End {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: flex-end;

      .Contact_End_Social {
        width: 91px;
        height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        padding: 0px 10px;

        & .Facebook_Box {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          cursor: pointer;

          & .Social_Facebook_Icon {
            font-size: 13px;
          }
        }
        .Twitter_Box {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          cursor: pointer;

          & .Social_Twitter_Icon {
            font-size: 13px;
          }
        }
        .Instagram_Box {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          cursor: pointer;

          & .Social_Instagram_Icon {
            font-size: 13px;
          }
        }
      }
      .Contact_Link {
        padding: 0px 10px;
        height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-right: 1px solid darkgray;
        border-left: 1px solid darkgray;

        & .text_Decoration {
          width: 51.703px;
          height: 15.391px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;

          & .Contact_Text {
            font-size: 12px;
            color: white;
          }
        }
      }
    }
  }
  .flexMiddle {
    display: none;
  }
  .Container {
    width: 100%;
    height: 105px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    .middle-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      .Main_Logo {
        width: 20%;
        height: 120px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        & .Logo {
          width: 250px;
          height: 84.125px;
          // padding: 5px 0px;
        }
      }
      .Product_Search {
        width: 51%;
        height: 120px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: start;
        margin-left: 12px;
        & .Search_Input {
          width: 609px;
          height: 42px;
          padding-right: 50px;
          padding-left: 15px;
          height: 46px;
          font-size: 15px;
          border-radius: 35px;
          border: 3px solid rgba(129, 129, 129, 0.2);
          color: #777;
        }
        & .Search_Input::placeholder {
          color: #777;
        }
      }
      .Container_End {
        width: 29%;
        height: 120px;
        // margin-right: -10px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        & .Login_SignUp {
          width: 182.359px;
          height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 0px 10px;
          margin-left: 20px;

          & .Login {
            color: #333;
            font-size: 13px;
            text-decoration: none;
            font-weight: 600;
          }
          & .SignUp {
            color: #333;
            font-size: 13px;
            text-decoration: none;
            margin-left: 3px;
            font-weight: 600;
          }
          & .Login:hover {
            color: #333;
            font-size: 13px;
            color: rgba(51, 51, 51, 0.6);
            text-decoration: none;
            font-weight: 600;
          }
          & .SignUp:hover {
            color: #333;
            font-size: 13px;
            text-decoration: none;
            margin-left: 3px;
            color: rgba(51, 51, 51, 0.6);
            font-weight: 600;
          }
          & .slash {
            margin-left: 3px;
            font-weight: 500;
          }
        }
        &.Login_SignUp:hover {
          color: rgba(51, 51, 51, 0.6);
          cursor: pointer;
        }
        & .Wish_List {
          width: 45px;
          height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;

          & .Wish_List_Send {
            font-size: 20px;
            text-decoration: none;
            position: relative;
            color: black;
            & .heart {
              font-size: 20px;
            }
            & .heart:hover {
              font-size: 20px;
              color: rgba(51, 51, 51, 0.6);
            }
          }
        }
        & .basket {
          width: 94.328px;
          height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-evenly;
          & .shopping {
            color: #333;
          }
          & .invoice {
            font-weight: 600;
            color: #333;
            font-size: 14px;
          }
          & .invoice:hover {
            font-weight: 600;
            color: rgba(51, 51, 51, 0.6);
            font-size: 14px;
            cursor: pointer;
          }
        }
        & .basket:hover {
          color: rgba(51, 51, 51, 0.6);
          cursor: pointer;
        }
      }
    }
  }

  .Container_Bottom {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #333;

    .container-bottom-share-two {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      .map_half {
        //   width: 99.25px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333;
        justify-content: center;
        .maps {
          color: #333;
          font-weight: 600;
          font-size: 13px;
          // border-right: 1px solid #777;
          padding-right: 10px;
        }
        .maps:hover {
          color: #777;
          cursor: pointer;
        }
      }
      .map_halfTwo {
        //   width: 234.5px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .fantastic_Maps {
          font-size: 13px;
          font-weight: 600;
          color: #333;
          // border-right: 1px solid #777;
          padding-right: 10px;
        }
        & .fantastic_Maps:hover {
          color: #777;
          cursor: pointer;
        }
      }
      & .map_halfThree {
        //   width: 187.25px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        & .bathymetric_Maps {
          color: #333;
          font-weight: 600;
          font-size: 13px;
          // border-right: 1px solid #777;
          padding-right: 10px;
        }
        & .bathymetric_Maps:hover {
          color: #777;
          cursor: pointer;
        }
      }
      & .map_halfFour {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:hover {
          margin-top: 185px;
          transition: 0.3s;
          .dropdown {
            display: block;
            z-index: 100;
            padding: 20px 20px 20px 20px;
          }
        }

        //   width: 104.25px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        & .dropdown {
          width: 200px;
          height: 185px;
          display: none;
          text-align: left;
          background-color: white;
          transition: 10.5s;
          .vintage:hover {
            color: black;
            font-weight: 600;
            cursor: pointer;
          }
          .city:hover {
            cursor: pointer;
            color: black;
            font-weight: 600;
          }
          .botancial:hover {
            cursor: pointer;
            color: black;
            font-weight: 600;
          }
          .all:hover {
            cursor: pointer;
            color: black;
            font-weight: 600;
          }
        }
        & .charts {
          color: #333;
          font-weight: 600;
          font-size: 13px;
          padding-right: 10px;
        }
        .charts:hover {
          color: #777;
          cursor: pointer;
        }
      }
      & .map_halfFife {
        //   width: 141.25px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        & .crowatchClock {
          color: #333;
          font-weight: 600;
          // border-right: 1px solid #777;
          padding-right: 10px;
          font-size: 13px;
        }
        & .crowatchClock:hover {
          color: #777;
          cursor: pointer;
        }
      }
      & .map_halfSexy {
        //   width: 128.25px;
        //   height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        & .Crowart {
          color: #333;
          font-weight: 600;
          // border-right: 1px solid #777;
          padding-right: 10px;
          font-size: 13px;
        }
        & .Crowart:hover {
          color: #777;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 992px) {
        #container_text {
          font-size: 11px;
          padding-right: 10px;
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
}
main{
  height: 100% !important;
}
.Slider {
  color: #fff;
  text-align: center;
}
.Category {
  width: 100%;
  height: 699.375px;
  // background-color: red;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 80px;
  & .Featured_Categories {
    width: 100%;
    height: 699.375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & .Category_Text {
      color: #989898;
      width: 77.375px;
      height: 22.391px;
    }
    & .Featured_Categories_Text {
      color: #242424;
      font-size: 28px;
    }
    & .special_Category {
      color: #989898;
      width: 270.7px;
      height: 25px;
      margin-top: 5px;
    }
    & .Category_Maps {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      width: 100%;
      & .total_Maps {
        width: 545px;
        height: 545px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        //   & .Map_Text_H{
        //   }

        & .imgTop {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          overflow: hidden;

          & .mapText {
            position: absolute;
            border: 0;
            width: 230px;
            height: 70px;
            background-color: black;
            color: white;
            font-weight: 500;
            font-size: 30px;
          }
          & .Normal_Map_Pictures {
            width: 545px;
            height: 545px;
            transition: transform 0.2s;
          }
          & .Normal_Map_Pictures:hover {
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            overflow: hidden;
          }
        }
      }
      & .add_Maps {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 545px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        & .Bathymetric_Map_Maps {
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          position: relative;
          & .totsmap {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            overflow: hidden;

            & .mapText2 {
              position: absolute;
              border: 0;
              width: 160px;
              height: 70px;
              background-color: black;
              color: white;
              font-weight: 500;
              font-size: 15px;
            }
          }

          & .Bathymetric {
            width: 257.5px;
            height: 257px;
            object-fit: cover;
            transition: transform 0.2s;
            padding: 15px;
          }
          & .Bathymetric:hover {
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            overflow: hidden;
          }
          & .Fantastic {
            padding: 15px;
            width: 257.5px;
            transition: transform 0.2s;
            height: 257px;
            object-fit: cover;
          }
          & .Fantastic:hover {
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            overflow: hidden;
          }
        }
        & .Crowatch_Table_Maps {
          display: flex;
          position: relative;
          justify-content: space-between;
          align-items: center;
          text-align: center;

          & .totsmap2 {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            overflow: hidden;

            & .mapText3 {
              position: absolute;
              border: 0;
              width: 160px;
              height: 50px;
              background-color: black;
              color: white;
              font-weight: 500;
              font-size: 20px;
            }
            & .Crowatch {
              width: 257.5px;
              height: 257px;
              object-fit: cover;
              padding: 15px;
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
              transition: transform 0.2s;
            }
            & .Tablolar {
              width: 257.5px;
              height: 257px;
              transition: transform 0.2s;
              object-fit: cover;
              padding: 15px;
            }
            & .Tablolar:hover {
              -ms-transform: scale(1.5);
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              overflow: hidden;
            }
            & .Crowatch:hover {
              -ms-transform: scale(1.5);
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
.featured_products {
  // width: 100%;
  // height: 935px;
  .product {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    .liste {
      .pill {
        a {
          font-weight: 600;
          color: #777;
        }
        .active {
          background: transparent;
          color: black;
          font-weight: 600;

          .pill_nav {
            width: 100%;
            height: 3px;
            background: #000;
          }
        }
        .best_sellers {
          display: flex;
          flex-direction: column;
          &:hover {
            .pill_nav {
              width: 100%;
              height: 3px;
              background: #000;
            }
          }
        }
        .pill_nav {
          display: inline-block;
          width: 0px;
          transition: 0.6s;
        }

        //    .direction{
        // display: flex;
        // flex-direction: column;
        // text-align: left;
        // .pill_nav{
        //     width: 0px;
        // }
        // .best_sellers:hover{
        //     .pill_nav{
        //         width: 100px;
        //         height: 3px;
        //         background-color: red;
        //     }
        // }
        //    }
      }
    }
    .product_Contant {
      width: 100%;
      height: 513px;
      transition: 0.6s;
      margin: 0px 13px 0px 0px;
      cursor: pointer;
      .card {
        .card-img-bottom {
          display: none;
        }
      }
      // .compain {
      //   width: 100%;
      //   height: 30px;
      //   border-top: 1px solid darkgray;
      //   border-bottom: 1px solid darkgray;
      //   display: flex;
      //   justify-content: flex-end;
      //   text-align: center;
      //   align-items: center;
      //   color: darkgray;
      //   transition: 1.3s;
      //   padding: 0px 20px;
      // }

      .end_Share {
        display: none;
        width: 100%;
        height: 40px;
        // display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        // padding: 0px 15px;
        transition: 0.3s;
        .heart_Icon {
          background-color: #fff;
        }
      }
      .card:hover {
        .card-img-bottom {
          transition: 1s;
          display: block;
        }
        .card-img-top {
          display: none;
          transition: 1s;
        }

        & .card {
          box-shadow: 0 0 36px rgb(0 0 0 / 15%);
          z-index: 1000;
          height: 110%;
          padding: 20px;
        }
        & .end_Share {
          padding: 0px 15px;
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          .SEÇENEKLER {
            width: 120px;
            height: 30px;
            color: #fff;
            background-color: green;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 13px;
          }
        }
        .heart_Icon {
          background-color: #fff;
        }
      }
      .tukendi {
        background-color: rgba(255, 255, 255, 0.9);
        color: #2d2a2a;
        font-weight: bold;
        font-size: 12px;
      }
      .tukendi2 {
        min-width: 50px;
        height: 22px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        word-break: break-all;
        letter-spacing: 0.4px;
        line-height: 1.2;
        background-color: green;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 13px;
      }
    }
    .card-text {
      margin-top: 20px;
      font-weight: 600;
    }
    // }
  }
}
@media screen and (max-width: 992px) {
  header {
    .flexMiddle {
      width: 100%;
      height: 60px;
      background-color: white;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 0px 10px;
      // display: none;
      .menuCategoryflex {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        .LogoCrowart {
          width: 150px;
          height: 60px;
        }
      }
    }
    .navigation-Bar {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 350;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      background-color: #fff;
      box-shadow: 0 0 9px rgb(0 0 0 / 12%);
      height: 56px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      .menuShare {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }
      .journal {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        .shopIcon {
          color: #333;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: flex-end;
          text-align: center;
          justify-content: center;
        }
        .shopText {
          color: #333;
          font-size: 11px;
          height: 30px;
        }
      }
      .filter {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        .shopIcon {
          color: #333;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: flex-end;
          text-align: center;
          justify-content: center;
        }
        .shopText {
          color: #333;
          font-size: 11px;
          height: 30px;
        }
      }
      .sebet {
        flex-direction: column;
        width: 25%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .shopIcon {
          color: #333;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: flex-end;
          text-align: center;
          justify-content: center;
        }
        .shopText {
          color: #333;
          font-size: 11px;
          height: 30px;
        }
      }
      .menuBar {
        width: 20%;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .shopIcon {
          color: #333;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: flex-end;
          text-align: center;
          justify-content: center;
        }
        .shopText {
          color: #333;
          font-size: 11px;
          height: 30px;
        }
      }
    }
    .Container_Bottom {
      display: none;
    }
    .Contact_Header {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .Container {
      display: none;
    }
  }
  .Category {
    .Featured_Categories {
      .Category_Maps {
        .total_Maps {
          .imgTop {
            .Normal_Map_Pictures {
              width: 330px !important;
              height: 330px !important;
              transition: transform 0.2s;
            }
            .mapText {
              position: absolute;
              border: 0;
              width: 160px !important;
              height: 50px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 20px !important;
            }
          }
        }
        .add_Maps {
          .Bathymetric_Map_Maps {
            .Bathymetric {
              width: 165px !important;
              height: 165px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .mapText2 {
              position: absolute;
              border: 0;
              width: 84px !important;
              height: 49px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 9px !important;
            }
            .Fantastic {
              width: 165px !important;
              height: 165px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
          }
          .Crowatch_Table_Maps {
            .totsmap2 {
              .Crowatch {
                width: 165px !important;
                height: 165px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .mapText3 {
                position: absolute;
                border: 0;
                width: 70px !important;
                height: 39px !important;
                background-color: #000;
                color: #fff;
                font-weight: 500;
                font-size: 10px !important;
              }
              .Tablolar {
                width: 165px !important;
                height: 165px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Category {
    .Featured_Categories {
      .Category_Maps {
        .total_Maps {
          .imgTop {
            .Normal_Map_Pictures {
              width: 230px !important;
              height: 230px !important;
            }
            .mapText {
              position: absolute;
              border: 0;
              width: 120px !important;
              height: 34px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 14px !important;
            }
          }
        }
        .add_Maps {
          .Bathymetric_Map_Maps {
            .Bathymetric {
              width: 120px !important;
              height: 120px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .mapText2 {
              position: absolute;
              border: 0;
              width: 47px !important;
              height: 30px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 5px !important;
            }
            .Fantastic {
              width: 120px !important;
              height: 120px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
          }
          .Crowatch_Table_Maps {
            .totsmap2 {
              .Crowatch {
                width: 120px !important;
                height: 120px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .mapText3 {
                position: absolute;
                border: 0;
                width: 41px !important;
                height: 27px !important;
                background-color: #000;
                color: #fff;
                font-weight: 500;
                font-size: 6px !important;
                margin-left: -5px;
              }
              .Tablolar {
                width: 120px !important;
                height: 120px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
    .widget-about img{
      margin-top: 2400px;
    }
}
@media screen and (max-width: 553px) {
  .Category {
    .Featured_Categories {
      .Category_Maps {
        .total_Maps {
          width: 324px;
          .imgTop {
            .Normal_Map_Pictures {
              width: 200px !important;
              height: 200px !important;
            }
            .mapText {
              position: absolute;
              border: 0;
              width: 110px !important;
              height: 30px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 12px !important;
            }
          }
        }
        .add_Maps {
          .Bathymetric_Map_Maps {
            .Bathymetric {
              width: 108px !important;
              height: 108px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .mapText2 {
              position: absolute;
              border: 0;
              width: 43px !important;
              height: 27px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 5px !important;
            }
            .Fantastic {
              width: 108px !important;
              height: 108px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
          }
          .Crowatch_Table_Maps {
            .totsmap2 {
              .Crowatch {
                width: 108px !important;
                height: 108px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .mapText3 {
                position: absolute;
                border: 0;
                width: 36px !important;
                height: 23px !important;
                background-color: #000;
                color: #fff;
                font-weight: 500;
                font-size: 5px !important;
                margin-left: -5px;
              }
              .Tablolar {
                width: 108px !important;
                height: 108px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 483px) {
  .Category {
    .Featured_Categories {
      .Category_Maps {
        .total_Maps {
          .imgTop {
            .Normal_Map_Pictures {
              width: 200px !important;
              height: 200px !important;
            }
            .mapText {
              position: absolute;
              border: 0;
              width: 110px !important;
              height: 30px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 12px !important;
            }
          }
        }
        .add_Maps {
          .Bathymetric_Map_Maps {
            .Bathymetric {
              width: 108px !important;
              height: 108px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .mapText2 {
              position: absolute;
              border: 0;
              width: 33px !important;
              height: 25px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 4px !important;
            }
            .Fantastic {
              width: 108px !important;
              height: 108px !important;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
          }
          .Crowatch_Table_Maps {
            .totsmap2 {
              .Crowatch {
                width: 108px !important;
                height: 108px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .mapText3 {
                position: absolute;
                border: 0;
                width: 32px !important;
                height: 20px !important;
                background-color: #000;
                color: #fff;
                font-weight: 500;
                font-size: 4px !important;
                margin-left: 2px;
              }
              .Tablolar {
                width: 108px !important;
                height: 108px !important;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 455px) {
  .Category {
    .Featured_Categories {
      .Category_Maps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        .total_Maps {
          width: 324px;
          height: 339px;
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          text-align: center;
          .imgTop {
            .Normal_Map_Pictures {
              width: 380px !important;
              height: 315px !important;
            }
          }
        }
        .add_Maps {
          .Bathymetric_Map_Maps {
            display: flex;
            width: 390px;
            margin-left: -90px;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            position: relative;
            .Bathymetric {
              width: 190px !important;
              height: 190px !important;
              -o-object-fit: cover;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .Fantastic {
              width: 190px !important;
              height: 190px !important;
              -o-object-fit: cover;
              object-fit: cover;
              transition: transform 0.2s;
              padding: 15px;
            }
            .mapText2 {
              position: absolute;
              border: 0;
              width: 68px !important;
              height: 33px !important;
              background-color: #000;
              color: #fff;
              font-weight: 500;
              font-size: 6px !important;
            }
          }
          .Crowatch_Table_Maps {
            display: flex;
            width: 390px;
            margin-left: -90px;
            position: relative;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .totsmap2 {
              .Crowatch {
                width: 190px !important;
                height: 190px !important;
                -o-object-fit: cover;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .Tablolar {
                width: 190px !important;
                height: 190px !important;
                -o-object-fit: cover;
                object-fit: cover;
                transition: transform 0.2s;
                padding: 15px;
              }
              .mapText3 {
                position: absolute;
                border: 0;
                width: 50px !important;
                height: 26px !important;
                background-color: #000;
                color: #fff;
                font-weight: 500;
                font-size: 7px !important;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
  .featured_products {
    .product {
      .liste {
        margin-top: 70px;
      }
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
  font-family: Rubik, sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 15px;
}
ul {
  padding: 0;
  margin: 0;
}
.crowarts {
  color: #777777;
  font-size: 11px;
  letter-spacing: 0;
}
li {
  list-style: none;
}
a:focus,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
a:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: #898b96;
  font-weight: 300;
}
h4 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  color: #363940;
}
a {
  color: #5867dd;
}
.no-padding {
  padding: 0 !important;
}
.go_top {
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  background: #5867dd;
  color: #fff;
  position: fixed;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  right: -webkit-calc((100% - 1140px)/ 2);
  right: calc((100% - 1140px) / 2);
  z-index: 111;
  bottom: 80px;
  text-align: center;
}
.container .widget-about .contact-details {
  margin: -13px 0 0 0;
  color: #777777;
}
.container .widget-about p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.go_top span {
  display: inline-block;
}
.footer-big {
  padding: 105px 0 65px 0;
  background-color: white;
  border-bottom: 1px solid darkgray;
}
.footer-big .footer-widget {
  margin-bottom: 40px;
}
.footer--light {
  background: #e7e8ed;
}
.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: #898b96;
}
.footer-big {
  .container {
    height: 300px;
  }
}
.footer-menu {
  padding-left: 48px;
}
.haritam {
  font-size: 12px;
  margin-left: 5px;
}
.textAdress {
  color: #777777;
}
.footer-menu ul li a {
  font-size: 15px;
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: #5867dd;
}
.footer-menu--1 {
  width: 100%;
}
.footer-widget-title {
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 18px;
}
.mini-footer {
  background: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-align: center;
  padding: 32px 0;
  .container {
    height: 30px;
  }
}
.mini-footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
}
.mini-footer p a {
  color: #5867dd;
}
.mini-footer p a:hover {
  color: #34bfa3;
}
.widget-about img {
  display: block;
  margin-bottom: 30px;
}
.widget-about p {
  font-weight: 400;
}
.widget-about .contact-details {
  margin: 30px 0 0 0;
}
.widget-about .contact-details li {
  margin-bottom: 10px;
}
.widget-about .contact-details li:last-child {
  margin-bottom: 0;
}
.widget-about .contact-details li span {
  padding-right: 12px;
}
.widget-about .contact-details li a {
  color: #777777;
  font-size: 13px;
}
@media (max-width: 991px) {
  .footer-menu {
    padding-left: 0;
  }
}
